body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

h1 {
  color: white;
}

h2 {
  color: black;
}

header h2 {
  color: #cec8ff;
}

.media {
  background-color: #62c1a1;
}

.table {
  background-color: #62c1a1;
}

.color-teal {
  background-color: #62c1a1;
}

.site-footer {
  background-image: linear-gradient(#070200, rgb(15, 1, 1));
  padding: 20px 0;
}

.jumbotron {
  margin-bottom: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white;
}

.row-content {
  padding: 4px 0px 0px 0px;
  border-bottom: 1px ridge;
  min-height: 65px;
}

.barUp {
  margin: 1px;
  min-height: 65px;
  border-top: 0px;
}

#menuOp {
  margin: 1px;
}

.menuClass {
  margin: 1px 85px 0px 85px;
}

.navbar {
  background-color: #62c1a1;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

/* This to make a black contrast to read easier the Caption for the carousel  */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #5637dd;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* Overlapping elements with a larger z-index cover those with a smaller one. */
}

/*
Install the Sass compiler

Check your Node version using the node -v command. (v16.13.2)
npm install --save-dev node-sass@6

To compile the .scss file to a .css file:
npm run scss
*/
